# Copyright (C) 2017-2018 Dremio Corporation
# 
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

# Adapted from Apache Arrow
sudo: required
dist: trusty

addons:
  apt:
    sources:
      - ubuntu-toolchain-r-test
      - llvm-toolchain-trusty-6.0
    packages:
      - gdb
      - ccache
      - clang-6.0
      - clang-format-6.0
      - clang-tidy-6.0
      - llvm-6.0-dev

cache:
  ccache: true

before_install:
  # Common pre-install steps for all builds
  - ulimit -c unlimited -S
  - |
      if [ $TRAVIS_OS_NAME == "linux" ]; then
        sudo bash -c "echo -e 'Acquire::Retries 10; Acquire::http::Timeout \"20\";' > /etc/apt/apt.conf.d/99-travis-retry"
        sudo add-apt-repository -y ppa:ubuntu-toolchain-r/test
        sudo apt-get update -qq
      fi

matrix:
  fast_finish: true
  allow_failures:
  include:
  - os: linux
    language: cpp
    compiler:
    - gcc
    env:
    - GANDIVA_TRAVIS_USE_TOOLCHAIN=1
    - GANDIVA_BUILD_WARNING_LEVEL=CHECKIN
    before_script:
    - ulimit -c unlimited -S
    - $TRAVIS_BUILD_DIR/ci/travis_before_script_cpp.sh
    # combining java and cpp build for now.
    # can separate them as needed later.
    - $TRAVIS_BUILD_DIR/ci/travis_before_script_java.sh
    script:
    - $TRAVIS_BUILD_DIR/ci/travis_script_cpp.sh && $TRAVIS_BUILD_DIR/ci/travis_script_java.sh

after_failure:
- COREFILE=$(find . -maxdepth 2 -name "core*" | head -n 1)
- if [[ -f "$COREFILE" ]]; then gdb -c "$COREFILE" example -ex "thread apply all bt" -ex "set pagination 0" -batch; fi
env:
  global:
    - secure: n4eyFRbV7LCzqfy6erFr9/GUxPbMsMNXroP+QBKSgiA4qDqBNh70tZAplAOT/9ounj1Jj8dJuruyFiJNv3IB68YBzTwM5IeNjDfhRiPTSpIiLSD65FLHJ7FrLY05FeCAGpqL+bF+dL2yqhrRIf1SScX9NW8TcUitdtqXdjxOvCT8hrU/oy+VJ6/xauj5f62Rx52HwiM2KHLZM3klbEMRQnIz9tk7IlgC2LtF4xaM8KWG5BHnFjXOq5AtHgN6FMEQIhHx98BFHNzwF+kqBB3nECWXp3rGuhYkThZyldbyAmmxr0gN6trSmXlx4RoFI0UP2X57xyVNquz8odPKYyPb8Uftu/PLaRPdcEcfgYwuoEyUnVh8B+xn/P9wgtbg7PCHKaFVRTpJowYhW/X70p+W9j2Nyh2ShFQfUo4b3JIVkBWBuJ/5y/+d64ky7rzf5rNSn2ZuB8CjYz6zW4uz/YullwYJzOTQc59o4mU4Aj47tdF9uHvj2LZLQExroufteqAyyMTRRv5spP1rfp4mB2ASUAN9SeytsrNMz7jnj11d+/drFxDS77TNIeE1W6EuTiI3N862QHhgUpV4BDl8OljK4c4ffAPuTW1yIEsIZrDl9fKjHJ6GcOTvpPn19ZRWvQ1aZus7rtqUofs2xackfVsjX0Dl5R8QlvuW86YZLxd1TK8=
deploy:
  provider: script
  script: bash $TRAVIS_BUILD_DIR/ci/travis_deploy_jar.sh
  on:
    branch: master
