# Copyright (C) 2017-2018 Dremio Corporation
# 
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

sudo: required
dist: trusty

cache:
  ccache: true

before_install:
  # Common pre-install steps for all builds
  - ulimit -c unlimited -S
  - |
      if [ $TRAVIS_OS_NAME == "linux" ]; then
        sudo bash -c "echo -e 'Acquire::Retries 10; Acquire::http::Timeout \"20\";' > /etc/apt/apt.conf.d/99-travis-retry"
        sudo add-apt-repository -y ppa:ubuntu-toolchain-r/test
        sudo apt-get update -qq
      fi

matrix:
  fast_finish: true
  allow_failures:
  include:
  # C++ & Python w/ clang 6.0
  - os: linux
    group: deprecated
    env:
    - GANDIVA_TRAVIS_USE_TOOLCHAIN=1
    - GANDIVA_BUILD_WARNING_LEVEL=CHECKIN
    - MATRIC_EVAL="CC=clang-6.0 && CXX=clang++-6.0"
    before_install:
    - eval "${MATRIX_EVAL}"
    before_script:
    - ulimit -c unlimited -S
    - $TRAVIS_BUILD_DIR/ci/travis_install_linux.sh
    - $TRAVIS_BUILD_DIR/ci/travis_install_clang_tools.sh
    - $TRAVIS_BUILD_DIR/ci/travis_before_script_cpp.sh
    - $TRAVIS_BUILD_DIR/ci/travis_lint.sh
    script:
    - $TRAVIS_BUILD_DIR/ci/travis_script_cpp.sh

after_failure:
- COREFILE=$(find . -maxdepth 2 -name "core*" | head -n 1)
- if [[ -f "$COREFILE" ]]; then gdb -c "$COREFILE" example -ex "thread apply all bt" -ex "set pagination 0" -batch; fi
