sudo: required
dist: trusty
addons:
  apt:
    sources:
    - ubuntu-toolchain-r-test
    - llvm-toolchain-trusty-6.0
    packages:
    - g++-4.9
    - gdb
    - ccache
    - clang-6.0
    - clang-format-6.0
    - clang-tidy-6.0
    - llvm-6.0-dev
cache:
  ccache: true
before_install:
- ulimit -c unlimited -S
- |
  if [ $TRAVIS_OS_NAME == "linux" ]; then
    sudo bash -c "echo -e 'Acquire::Retries 10; Acquire::http::Timeout \"20\";' > /etc/apt/apt.conf.d/99-travis-retry"
    sudo add-apt-repository -y ppa:ubuntu-toolchain-r/test
    sudo apt-get update -qq
  fi
matrix:
  fast_finish: true
  allow_failures:
  include:
  - os: linux
    language: cpp
    env:
    - MATRIX_EVAL="CC=gcc-4.9 && CXX=g++-4.9"
    - GANDIVA_TRAVIS_USE_TOOLCHAIN=1
    - GANDIVA_BUILD_WARNING_LEVEL=CHECKIN
    before_script:
    - ulimit -c unlimited -S
    - "$TRAVIS_BUILD_DIR/ci/travis_before_script_cpp.sh"
    - "$TRAVIS_BUILD_DIR/ci/travis_before_script_java.sh"
    script:
    - "$TRAVIS_BUILD_DIR/ci/travis_script_cpp.sh && $TRAVIS_BUILD_DIR/ci/travis_script_java.sh"
after_failure:
- COREFILE=$(find . -maxdepth 2 -name "core*" | head -n 1)
- if [[ -f "$COREFILE" ]]; then gdb -c "$COREFILE" example -ex "thread apply all bt" -ex "set pagination 0" -batch; fi
env:
  global:
    - secure: oQEGhaZndw7gkCzSUZHl5/tUXbWLn2QvWF92JXl4jiQSyZ/CwCn0AtfsSumWHWFfTa7Xka3FO9G8iaPSUjk3asjLq8TWmg6lJVubCxX7ESSn9TKqrxgk0aju84ALmiUX1y16v1N8VKLIClOOsD3sw+eImN1Z7U5b3Ejt+jSqTaY/5LCuQk35SVPtjI6UtY7AFe7wS/iphUiQstTP8uHUJQCNtexxczCmYlwwL/M7FmkkFE9cLhJU4PTaN4Ph0Vez+NMUXqgk+oDibZBym/X1lFaAw6kdNELSbwkiwYy3wdK2n8u8cAVyJQp58qNEian5IwsLsbmGdm/9XogmMGeaS0jihjOySGXbrYOHATSnXDPInu3T2ENxxuecwVbrT+lLm/b8OE8QBfTRdA03G6CRcMHmfdHSIwQZfV/CwGEzmBPvKi5wPu2qaCi5+/GNoKXyYi2i4qJUbAa2cgLB0ijiePBp+mz8I96+qU6Frdic/q9Hlvy786jioDv5A8djFftR/sPjRFQ7RX2ByOtPkYQ9dGrXg8oQuwbvshFqB8yeV1wDu6/JzJlNsqi+0Lq6PelpCI4pWvqcCkcGWSK6QcAvRvMglV58jp3aGtCoPQv6ZJ8qEZBv/i6dqq3SN6T5dkzL6hdzW/zv+0VOJBawkdzuYJEzj2XPSXv9RFWJBNdtLuQ=
deploy:
  provider: script
  script: bash $TRAVIS_BUILD_DIR/ci/travis_deploy_jar.sh
  skip_cleanup: true
  on:
    branch: master
